@font-face {
  font-family: "Asap";
  src: url("fonts/AsapCondensed-Medium.ttf") format("truetype")
}

body {
    font-family: "Asap";
    letter-spacing: 1;
}

img {
    position: relative;
    /*float: right;*/
    width: 95%/*140px*/;
    border: 2px solid;
    border-color: black;
    margin-bottom: 10px;
}

#bg {
position: fixed;
/*display: block;*/
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0.2;
z-index: -1;
}

#bg img {
width: 100%;
height: 100%;
border: none;
}

a:link:not(#exclude), a:visited:not(#exclude) {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a.black:link:not(#exclude), a.black:visited:not(#exclude) {
    color: black;
}

div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.artist {
    color: white;
    background-color: black;
    font-size: 16;
    font-weight: bold;
    margin-left: 0.3em
}

p.center {
    line-height: 0.8em;
}

.artist:before {
    content: "// "
}

.highlight {
    font-size: 44px;
    font-weight: bold
}

div {
    padding: 5px;
    white-space: nowrap;
    margin-bottom: 10px;
}

div div {
    display: inline-block;
    position: relative;
    width: 170px;
    height: 200px;
    /*margin-bottom: 50px;*/
    padding-top: 1em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    background-color: #eeeeee;
}

/*div div p {
    z-index: 5;
}

div div img {
    z-index: 1;
}*/

div div:hover {
}

div div:hover img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: none;
    opacity: 1;
    margin: 0;
}

#master {
color: white
}

#master div {
    background-color: #3070B3;
}

#master div:hover {
    background-color: #3070B3CC;
    color: white;
}

#master div:hover .highlight {
color: white;
}

#master .highlight {
color: white;
/*background-color: black*/
}

#in a:link:not(#exclude), #in a:visited:not(#exclude) {
    color: black;
}

#i10 a:link:not(#exclude), #i10 a:visited:not(#exclude) {
    color: black;
}

div div:hover .highlight {
}

/*#master div {
background-color: #3070B300;
color: black;
border-color: #3070B3
}*/
 
p {
    line-height: 0.8em
}

#M1 {
}
 
#A2 {
/*margin-left: 20px;
background-color: #3070B3;
color: white;*/
}

#S3 {
/*margin-left: 40px;
background-color: #3070B3;
color: white;*/
} 

#T4 {
/*margin-left: 60px;
background-color: #3070B3;
color: white;*/
}

#E5 {
/*margin-left: 40px;
background-color: #3070B3;
color: white;*/
}

#R6 {
/*margin-left: 20px;
background-color: #3070B3;
color: white;*/
}

#M7 {
background-color: #b9201a;
color: white;
}

#A8 {
background-color: #ffbe3e;
}

#R9 {
/*background-color: #647330;*/
background-color: #ab1105;
color: white;
}

#I10 {
background-color: #c6b01e;
}

#E11 {
background-color: #2a0200/*#741d26*/;
color: white;
}

#L12 {
background-color: #a92f20;
color: white;
}

#I13 {
}

#N14 {
}

#S15 {
background-color: #198a00;
color: white;
}

#A16 {
background-color: #de2010;
}

#M17 {
background-color: #ef7d00;
color: white;
}

#B18 {
background-color: black;
color: white;
}

#I19 {
background-color: #de2010
}

#A20 {
background-color: #198a00
}

